/* Import Font */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* Reset Page */
* {
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    display: flex; /* Align child elements X */
    align-items: center; /* Center X */
    justify-content: center; /* Center Y */
    height: 100vh; /* Full height */
    overflow: hidden; /* No scrollbars */
    margin: 0; /* No margins */
}

/* Style background */
.bg {
    background: url('https://images.unsplash.com/photo-1576161787924-01bb08dad4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80') no-repeat center center/cover;

    /* Syntax Breakdown

        url(...):
            Specifies the URL of the background image. In this case, it’s an image from Unsplash.

        no-repeat:
            Ensures the image does not repeat, so only one copy of the image is displayed.

        center center:
            Aligns the image to the center of the element both horizontally (center) and vertically (center).

        /cover:
            Resizes the image to completely cover the element's area while maintaining its aspect ratio. Portions of the image may be cropped to achieve this.
    
    */

    position: absolute; /*  Overlap on viewport */

    top: 0;
    left: 0; /* Align the .bg element to the top-left corner of its container. */

    width: 100vw;
    height: 100vh;
    z-index: -1; /* Behind 0% */

    filter: blur(0px); /* Applies a blur effect to the background image. 0px: No blur is applied in the default state. */

    
} 
 